.addCategory_add-category-button {
  margin: 10px;
}

.addCategory_change-category-name-button-main {
  margin: 10px;
}

.addCategory_change-category-name-button {
  margin: 10px;
}

.addCategory_Block {
  margin: 0 auto 0 auto;
  width: 50%;
}

.category_Item_SubBlock {
  margin: 0 auto 0 auto;
  width: 50%;
}

.addCategory-change-category-name-block {
  margin: 0 auto 0 auto;
  width: 50%;
}
